.woocommerce-checkout #payment .payment_method_e_nkap a.about_e_nkap {
    position: absolute;
    right: 0;
}
.woocommerce-checkout #payment .payment_method_e_nkap a.about_e_nkap {
    padding: 0 10px;
    background-color: var(--bs-white);
    line-height: 30px;
    border-radius: 20px;
    font-weight: 600;
    box-shadow: 0 0 10px -2px rgb(0 0 0 / 0.2);
}

.woocommerce-checkout #payment .payment_method_e_nkap .about_e_nkap {
    float: right;
    line-height: 52px;
    font-size: .83em;
}

.camoo-pay-icon-checkout {
    max-width: 80% !important;
    height: auto !important;
    border: 3px solid #73d8fd00;
    border-radius: 10px;
}

div.camoo-pay-mobile-money-phone-number {
    text-align:center;
    margin-top:20px;
}
.camoo-pay-mobile-money-phone-number img {
    max-width:80%;
    height:auto; border: 3px solid #50575e; border-radius: 15px; padding:5px; box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.camoo-pay-phone-input {
    width: 100%; padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid #ddd;
    background-color: #f9f9f9; margin-top: 8px;
}